<div class="panel panel-default bottom-spacing">
    <div class="panel-heading">
        <strong>Available cards</strong>
    </div>
    <div class="panel-body">
        <section class="existing-cards-container" ng-if="vm.existingCards && vm.existingCards.length > 0">
            <div class="existing-card" ng-repeat="card in vm.existingCards">Card</div>
        </section>
        <section ng-if="!vm.existingCards && vm.existingCards.length === 0">
            No cards have been created yet.
            <a ui-sref="maker">Try creating a new one.</a>
        </section>
    </div>
</div>