@import url('https://fonts.googleapis.com/css?family=McLaren&display=swap');
:root {
    --default-shadow: 0px 0px 5px #555;
}
* {
    font-family: 'McLaren', cursive;
}
nav{
    border-radius: 0 !important;
}
input {
    margin-bottom: 20px !important;
}
#header {
    color: #fff;
    text-shadow: var(--default-shadow);
    background-position: center center;
    background-size: 100% !important;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    animation: slideBg 50s linear infinite 0s;
    animation-timing-function: cubic-bezier(20, 20, 20, 1);
    background-image: url('Images/b1.jpg');
    border-radius: 0;
}
#main button {
    margin-right: 10px;
}
.container, .cardContainer, .MessageBackground {
    animation: FadeIn 0.5s linear 0s !important;
}
.cardContainer {
    margin-top: 30px;
    width: 100%;
    padding: 30px;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Card {
    width: 400px;
    background: #fff;
    border: 3px solid #999;
    box-shadow: var(--default-shadow);
    border-radius: 5px;
    padding: 10px;
}
.CardTitle {
    width: 100%;
    font-weight: 700;
    font-size: 18px;
    position: relative;
}
.CardTitle span {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 10px;
    padding: 5px;
    border: 1px solid #555;
    border-radius: 5px;
    box-shadow: var(--default-shadow);
}
.StarContainer {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-flow: row;
}
.Star {
    width: 16px !important;
    height: 16px !important;
    margin-right: 3px;
    margin-top: 5px;
}

.CardPicture, .CardDesc {
    margin-top: 10px;
    width: 375px;
    
}

.CardPicture {
    height: 250px;
    border: 1px solid #555;
    border-radius: 5px;
}

.CardDesc {
    padding: 5px;
    border: 1px solid #555;
    border-radius: 5px;
    height: 100px;
}

.Power {
    margin-top: 10px;
    padding: 5px;
    font-weight: 700;
}

.Message {
    position: relative;
    display: block;
    width: 50%;
    height: 50%;
    background: #fff !important;
    border: 1px solid #333;
    border-radius: 5px;
    z-index: 11;
    box-shadow: 0px 0px 15px #222;
    padding: 20px;
}

.Message > h2 {
    margin: 0;
}

.MessageBackground {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: #00000099;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Message > button {
    position: absolute !important;
    bottom: 20px !important;
    left: 20px !important;
    width: calc(100% - 40px) !important;
    height: 32px !important;
    border: none;
}

@keyframes slideBg {
    0% { background-image: url('Images/b1.jpg'); }
    25% { background-image: url('Images/b2.jpg'); }
    50% { background-image: url('Images/b3.jpg');}
    100% { background-image: url('Images/b4.png'); }
  }

@keyframes FadeIn {
    0% {opacity: 0}
    25% {opacity: 0.25}
    50% {opacity: 0.5}
    75% {opacity: 0.75}
    100% {opacity: 1}
}

@keyframes FadeOut {
    0% {opacity: 1}
    25% {opacity: 0.75}
    50% {opacity: 0.5}
    75% {opacity: 0.25}
    100% {opacity: 0}
}