<div class="container top-spacing">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <h2>Login</h2>
                <form action="login">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">Username</span>
                        <input type="text" class="form-control" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">Password</span>
                        <input type="text" class="form-control" aria-describedby="basic-addon1">
                    </div>
                </form>
                <buttton class="btn btn-success" ng-click="$ctrl.login()">Login</buttton>
                <p>No account? No problem. Click <a href="">here</a> to create one.</p>
            </div>
        </div>
    </div>
</div>