@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');

body {
    background-image: url('https://wallpapercave.com/wp/wp3615332.jpg');
    background-position: cover;
    background-repeat: no-repeat;
}

.app-footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: #fff;
    padding: 16px;
    width: 100%;
    text-align: center;
}

.bottom-spacing {
    margin-bottom: 50px;
}

.input-group {
    margin-bottom: 24px;
}

.card-body {
    background: url('./card-body.jpg');
}

.card-body-blur {
    background: url('./card-body-blur.jpg');
}

.card-body-blur-cta {
    font-weight: 800;
    font-size: 1.5em;
    width: 100%;
    text-align: center;
    margin-top: 200px;
}

.card-body,
.card-body-blur {
    width: 350px;
    height: 500px;
    background-size: 100% 100%;
    box-shadow: 0px 0px 5px #666;
    padding: 12px 24px;
    position: relative;
    font-family: 'Lora', serif;
}

.card-title-container {
    width: 100%;
    padding: 8px;
    background-color: transparent;
    margin-top: 8px;
    font-size: 1.2em;
    font-weight: 800;
    text-shadow: 1px 1px 2px #666;
    position: relative;
}

.card-element {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 4px;
    right: 6px;
    border-radius: 50%;
    color: #fff;
    font-size: .5em;
    text-align: center;
    text-shadow: 1px 1px 1px #222;
    padding-top: 8px;
    font-weight: 200;
}

.card-level-container {
    width: 98%;
    max-height: 24px;
    margin-top:4px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.card-level {
    width: 20px;
    height: 20px;
    background: url('./star.png');
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    margin-left: 2px;
}


.card-cover-container {
    width: 100%;
    height: 262px;
    margin-top: 8px;
    padding: 0px 17px;
}

.card-cover {
    display: block;
    width: 100%;
    height: 100%;
    background-color: grey;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-description-container {
    width: 100%;
    height: 100px;
    background: transparent;
    margin-top: 21px;
    padding: 0px 10px;
    position: relative;
}

.card-attack,
.card-defense {
    position: absolute;
    font-size: .9em;
    font-weight: 900;
    bottom: 4px;
}

.card-attack {
    right: 78px;
}

.card-defense {
    right: 8px;
}

.water {
    background-size: 100% 100%;
    background: url('./water.jpg');
}

.fire {
    background-size: 100% 100%;
    background: url('./fire.jpg');
}

.ice {
    background-size: 100% 100%;
    background: url('./ice.jpg');
}

.thunder {
    background-size: 100% 100%;
    background: url('./thunder.jpg');
}

.dragon {
    background-size: 100% 100%;
    background: url('./dragon.png');
}

.wind {
    background-size: 100% 100%;
    background: url('./wind.jpg');
}

.earth {
    background-size: 100% 100%;
    background: url('./earth.png');
}

.light {
    background-size: 100% 100%;
    background-color: #ddd;
}