@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');

body {
    background-image: url('https://wallpapercave.com/wp/wp3615332.jpg');
    background-position: cover;
    background-repeat: no-repeat;
}

.app-footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: #fff;
    padding: 16px;
    width: 100%;
    text-align: center;
}

.bottom-spacing {
    margin-bottom: 50px;
}

.input-group {
    margin-bottom: 24px;
}

.card-body {
    width: 350px;
    height: 500px;
    background: url('./card-body.jpg');
    background-size: 100% 100%;
    box-shadow: 0px 0px 5px #666;
    padding: 12px 24px;
    position: relative;
    font-family: 'Lora', serif;
}

.card-title-container {
    width: 100%;
    padding: 8px;
    background-color: transparent;
    margin-top: 8px;
    font-size: 1.2em;
    font-weight: 800;
    text-shadow: 1px 1px 2px #666;
    position: relative;
}

.card-element {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 4px;
    right: 6px;
    border-radius: 50%;
    color: #fff;
    font-size: .5em;
    text-align: center;
    text-shadow: 1px 1px 1px #222;
    padding-top: 8px;
    font-weight: 200;
}

.water {
    background-size: 100% 100%;
    background: url('./water.jpg');
}

.fire {
    background-size: 100% 100%;
    background: url('./fire.jpg');
}

.ice {
    background-size: 100% 100%;
    background: url('./ice.jpg');
}

.thunder {
    background-size: 100% 100%;
    background: url('./thunder.png');
}

.dragon {
    background-size: 100% 100%;
    background: url('./dragon.png');
}

.wind {
    background-size: 100% 100%;
    background: url('./wind.jpg');
}

.earth {
    background-size: 100% 100%;
    background: url('./earth.png');
}

.light {
    background-size: 100% 100%;
    background-color: #ddd;
}